{% extends "layout.twig" %}

{% block titulo %}Silex Projeto{% endblock %}

{% block conteudo %}
    <div class="container">
        <h1 class="jumbotron">Projeto Silex - School Of Net</h1>
    </div>
{% endblock %}
