{% extends "layout.twig" %}

{% block titulo %}Posts{% endblock %}

{% block conteudo %}
    <div class="container">
        <table class="table table-striped table-bordered">
            <caption class="text-center"><h3>Posts</h3></caption>
            <thead>
                <tr><th>Codigo</th><th>Post</th><th></th></tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr><td>{{post.id}}</td><td>{{post.post}}</td><td><a class="btn btn-primary" href="{{ path('/post',{id: post.id})}}">Visualizar</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}